/** about_element
title_element  
body_element
**/

.about_element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 0;
  width: 30em;
  background-color: rgb(201, 215, 224);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 3px;
  padding: 10px;
}
.title {
  width: 15em;
}
p {
  line-height: 2em;
  font-family: "Helvetica Neue";
  font-size: 18px;
  color: rgba(39, 38, 38, 0.884);
}
