/**
Les différentes classes pour la mise en forme
.element_detail
.cardElement
.body_element
h2 .title
.resume pour balise p
average_element et resume_element pour les spans
**/
.element_detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 0;
  width: 60%;
  background-color: rgb(201, 215, 224);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 3px;
  padding: 5px;
}
.title {
  width: 15em;
}
h2,
.title {
  text-align: center;
  color: rgb(4, 2, 100);
  margin: 1em 0 1em 0;
}
.resume {
  width: 18em;
}
.average_element {
  font-weight: 700;
  color: rgb(9, 129, 19);
}
.resume_element {
  font-weight: 700;
  color: rgb(9, 129, 19);
}
.img_element {
  border-radius: 3px;
}

/* responsive design */

@media screen and (max-width: 700px) {
  h2,
  .title {
    text-align: center;
    color: rgb(4, 2, 100);
    font-size: 18px;
    margin: 1em 0 1em 0;
  }
  iframe {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 570px) {
  h2,
  .title {
    font-size: 16px;
    margin: 1em 0 1em 0;
  }
  .resume {
    width: 14em;
  }
  .cardElement {
    width: 19em;
  }
  iframe {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 339px) {
  .video {
    display: none;
  }
}
