.form-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(181, 200, 241);
  padding: 1em 0 1em 0;
  margin: 1em 0 1em 0;
  color: navy;
}
.form-elt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.elt {
  margin: 0 1px 0 1px;
}
.movie-input {
  border: 1px dotted #999;
  border-radius: 0;
}
